html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
}