html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
}