html{
  background-color: #f7f7f3;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f300 !important;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f7f7f3;
}

p {
  font-size: 16px;
}

a,
a:link,
a:hover,
a:visited {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
}

a:active {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
}


.navbar-nav>li {
  padding-left: 30px;
  padding-right: 30px;
}


.custom-navbar .navbar-toggler {
  border: none;
  /* 移除边框样式 */
  outline: none;
  /* 移除点击时的轮廓样式 */
  /* 添加其他自定义样式 */
}

.custom-navbar .navbar-toggler:focus {
  box-shadow: none;
  /* 移除点击时的边框样式 */
  /* 添加其他自定义样式 */
}

.image-container {
  position: relative;
  height: 15vw;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(45deg, #ff01cc, transparent) #1e00ff;
  /* background: #ffffff; */
}

.image-container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image-container:hover .text {
  opacity: 1;
}


/* input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background-color: black;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  opacity: 1;
} */

.custom-img-thumbnail-size {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.content-fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.content-fade-in-active {
  opacity: 1;
}
