body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h5,
p {
    z-index: 0;
    color: blue;
}

canvas {
    position: relative;
    z-index: 1;
    /* border: 1px solid blue; */
    border: 1px solid #222529;
}